.centered-horizontally .album {
    overflow: auto;
    text-align: center;
    position: absolute;
    width: 100%;
}

.album {
    display: flex;
    justify-content: center;
    flex-flow: column;
    left: 15%;
    right: 15%;
    position: fixed;
    text-align: center;
    align-content: center;
}

.album > img {
    align-self: center;
    flex: 0 0 auto;
}

.centered {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    bottom: 50%;
}

.header-center {
    text-align: center;
}

